
.site {
    width: 550px;
    height: 356px;
}

.seat {
    width: 80px;
    height: 50px;
    background-color: #D2E9FF;
}

.left-seat {
    display: inline-block;
    text-align: center;
}

.right-seat {
    display: inline-block;
}

.bottom-seat {
    margin: 0 150;
    text-align: center;
}

.desk {
    width: 256px;
    height: 256px;
    background-image: url(../img/desk.jpg);
    display: inline-block;
}
